/*------------------------------------*\
  Variables for colors
\*------------------------------------*/
$color-white: 						#ffffff;
$color-dark:						#333333;
$color-blue:						#1f86da;
$color-link--hover:					#1578d4;	
$color-red:							#fc411d;



/*------------------------------------*\
  Variables for fonts
\*------------------------------------*/
$font-family--base: 				"Lato", "Arial", sans-serif;
$html-size--base: 					16px;
$font-size--base: 					0.75rem; //12px
$font-size--lg: 					2.375rem; //38px
$font-size--xl: 					3.625rem; //58px
