.header {


&__top,
&__bottom {
	border-bottom: 1px solid $color-light-grey;
	
}


&__bottom {
	padding-top: 25px;
	padding-bottom: 22px;
	margin-bottom: 70px;
}
	
&__menu {
	font-size: 0;
}

&__list-item {
	display: inline-block;
	vertical-align: baseline;
	font-size: $font-size--base;
	margin-right: 35px;

&:last-child {
	margin-right: 0;	
}
}

&__link {
	display: block;
	padding-top: 10px;
	padding-bottom: 10px;
	opacity: 0.5;
	color: $color-dark;				
	text-transform: uppercase;
	text-decoration: none;
	border-bottom: 2px solid transparent;
}

&__right-row {
	display: flex;
	justify-content: space-between;
	align-items: center;

	@media (max-width: 1049px) {
	display: none !important;
	}

&--bottom {
	align-self: baseline;
}
}

&__currency {
	position: relative;
	margin-right: 15px;
}

&__language {
	position: relative;
	padding-left: 12px;


&:before {
	position: absolute;
	content: '';
	width: 1px;
	height: 45px;
	left: -4px;
	bottom: -12px;
	background: $color-light-grey;
}
}

&__toggle-down {
	background: transparent;
	opacity: 0.5;
	font-size: 8px;
}

&__choice-menu {
	display: none;
    position: absolute;
    left: -20px;
    top: 30px;
    background: $color-dark;
    padding: 5px;
    color: $color-dark;
    border-radius: 5px;
    opacity: 0.9;

&--currency {
	left: -90px;
	
}

&--js {
        display: block;
}
}


&__choice-list {
        display: flex;
        justify-content: space-around;
    }

&__choice-item {
        display: inline-block;
        vertical-align: middle;
    }

&__choice {
	text-transform: uppercase;
   	color: $color-white;
   	padding: 2px;  
   	margin-right: 12px;
   	cursor: pointer;

&:hover:not(.header__choice--default) {
	background: $color-blue;
	border-radius: 5px;
	}

&--default {
	opacity: 0.5;
	color: $color-dark;
	margin-right: 0;
	font-size: $font-size--base;
	}
}

&__close-icon {
	color: $color-white;
	background: transparent;
}

&__logo {
	font-family: $font-family--logo;
	align-self: center;
}

 &__right-row {
 	display: flex;
 	justify-content: space-between;
 	align-items: baseline;
 }

 &__cart-group {
 	display: inline-block;
 	vertical-align: top;
 }

 &__cart-link {
 	text-transform: uppercase;
 	color: $color-dark;
 	margin-right: 15px;
 	opacity: 0.5;
 	letter-spacing: 1px;
 	padding-top: 10px;
	padding-bottom: 10px;
 }

 &__item-number[type=number] {
 	box-sizing: border-box;
 	width: 50px;
 	padding: 15px 20px;
 	border: none;
 	outline: none;
 	background: transparent;
 	border: 1px solid transparent;
 	border-radius: 50%;
 	margin-right: 17px;
 	cursor: pointer;

		&::-webkit-inner-spin-button, 
		&::-webkit-outer-spin-button { 
		-webkit-appearance: none; 
		margin: 0; 
	}

		 &:hover {
		 cursor: pointer;
		 border: 1px solid $color-blue;
	}
 }

 &__search-icon {
 	background: transparent;
 	opacity: 0.5;
 }
}