.main-nav {

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		width: 560px;
	}

	&__link {
		display: block;
		padding-top: 8px;
		padding-bottom: 8px;
		text-decoration: none;
		color: $color-dark;
		opacity: 0.5;
		text-transform: uppercase;
		border-bottom: 2px solid transparent;
		letter-spacing: 1px;


	&:hover,
	&:focus	 {
		border-bottom: 2px solid $color-blue;
	}
	}



}