.main-nav {

	&__menu {
		display: flex;
		justify-content: space-between;
		align-items: baseline;
		width: 560px;
	}

	&__link {
		display: block;
		padding-top: 10px;
		padding-bottom: 10px;
		text-decoration: none;
		color: $color-dark;
		opacity: 0.5;
		text-transform: uppercase;
		border-bottom: 2px solid transparent;
		letter-spacing: 1px;

&--active {
		color: $color-red;
}
}

}