/*------------------------------------*\
  Fonts
\*------------------------------------*/

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Didot';
  src: url('../fonts/didot-bold/didot-bold.woff') format('woff'), url('../fonts/didot-bold/didot-bold.woff2') format('woff2'), url('../fonts/didot-bold/didot-bold.eot') format('eot'), url('../fonts/didot-bold/didot-bold.ttf') format('ttf');
}

/*------------------------------------*\
  Body styles
\*------------------------------------*/

body {
    font-family: $font-family;
    font-size: $font-size--base;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: $color-dark;
    background-color: $color-white;
}

/*------------------------------------*\
  Grid styles
\*------------------------------------*/


.container {
	margin: 0 auto;
	width: 85%;

&--row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

&--column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
}

/*------------------------------------*\
  Main styles
\*------------------------------------*/

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

figcaption {
    text-align: center;
}

/*------------------------------------*\
  Adaptive styles
\*------------------------------------*/

@media (max-width: $screen-md) {

	.hide-mobile {
		display: none;
	}
}

@media (min-width: 1049px) {

	.hide-desktop {
		display: none;
	}
}

