/*------------------------------------*\
  Fonts
\*------------------------------------*/

@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: 'Didot';
  src: url('../fonts/didot-bold/didot-bold.woff') format('woff'), url('../fonts/didot-bold/didot-bold.woff2') format('woff2'), url('../fonts/didot-bold/didot-bold.eot') format('eot'), url('../fonts/didot-bold/didot-bold.ttf') format('ttf');
}

/*------------------------------------*\
  Body styles
\*------------------------------------*/

body {
    font-family: $font-family;
    font-size: $font-size--base;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: $color-dark;
    background-color: $color-white;
}

/*------------------------------------*\
  Grid styles
\*------------------------------------*/


.container {
	margin: 0 auto;
	width: 85%;

&--row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

&--column {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
}

/*------------------------------------*\
  Main styles
\*------------------------------------*/

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    padding: 0;
}

a,
a:hover,
a:focus {
    text-decoration: none;
}

figcaption {
	text-align: center;
}

/*------------------------------------*\
  Link hover styles
\*------------------------------------*/

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 50%;
    right: 50%;
    bottom: 0;
    background: $color-blue;
    height: 2px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }

  &:hover:before, 
  &:focus:before, 
  &:active:before {
    left: 0;
    right: 0;
  }
}

.hvr-bubble-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;

  &:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    border-style: solid;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    left: calc(50% - 10px);
    top: 0;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent $color-white transparent;
  }

  &:hover:before, 
  &:focus:before, 
  &:before {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
}

/*------------------------------------*\
  Adaptive styles
\*------------------------------------*/

@media (max-width: 899px) {

	.hide-mobile {
		display: none;
	}
}

@media (min-width: $screen-md) {

	.hide-desktop {
		display: none;
	}
}

